.row {
  width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
}
h1{
font-weight: bolder;
text-align: center;
font-family: Lucida Console;
font-size:45px;	
}
#container {
  position: relative;
  top: 60px;
}
p{
	border: 1px solid black;
    background-color: #aaaaaa;
	font-family: Lucida Console;
	display: flex;
	align-items: flex-end;
}
h2{
text-align: center;
border: 2px solid black;
width: 150px;
height: 30px;
font-weight: bolder;
font-family: Lucida Console;
font-size: 25px;
}
#title1{
background-color: #f1aa9b;
}
#title2{
  background-color: #df7861;
  color: white;
}
#title3{
  background-color: #ffee93;
}

/********** Desktop View **********/
@media (min-width: 992px) {
	.col-dv-4 {
    float: left;
    width: 33.33%;
  }
  #p1{
  height:220px;
  padding-bottom: 25px;
  padding-left:10px;
  padding-right:10px;
  margin-left: 20px;
  margin-right: 20px;
}
#p2{
  height:220px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:20px;
  margin-left: 10px;
  margin-right: 20px;
}
#p3{
  height:220px;
   padding-bottom: 10px;
  padding-left:10px;
  padding-right:20px;
  margin-right: 10px;
}
#title1{
	position: absolute;
	top: 4em;
	right:32em;
}
#title2{
	position: absolute;
	top: 4em;
	right:18em;
}
#title3{
	position: absolute;
	top: 4em;
	right:0.75em;
}
}


/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-tv-6, .col-tv-12 {
    float: left;
  }
  .col-tv-6 {
    width: 50%;
  }
  .col-tv-12 {
    width: 100%;
  }
   #p1{
  height:170px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 5px;
  margin-left: 20px;
}
#p2{
  height:170px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left:20px;
}
#p3{
  height:170px;
  padding-left:10px;
  padding-bottom: 5px;
  margin-right: 20px;
  margin-left:20px;
}
#title1{
	position: absolute;
	top: 4em;
	right:16.85em;
}
#title2{
	position: absolute;
	top: 4em;
	right:1.15em;
}
#title3{
	position: absolute;
	top: 12.10em;
	right:1.15em;
}
}
/********** Mobile View **********/
@media screen and (max-width: 767px) {
  .col-mv-12 {
    float: left;
    width: 100%;
  }
  p{
	margin-right: auto;
	margin-left: auto;
  }
    #p1{
   width: 90%;
    height:170px;
  padding-bottom: 25px;
  padding-left:10px;
  padding-right:10px;
}
#p2{
  width:90%;
  height:170px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right:20px;
}
#p3{
  width:90%;
  height:170px;
   padding-bottom: 10px;
  padding-left:10px;
  padding-right:20px;
}
#title1{
	position: absolute;
	top: 4em;
	left:12.25em;
}
#title2{
	position: absolute;
	top: 12.10em;
	left:12.25em;
}
#title3{
	position: absolute;
	top: 20.15em;
	left:12.25em;
}
}
